@media screen and (max-width:430px) {
  .txt-img {
    flex-direction: column-reverse;
    text-align: center;
  }

  .txt h1 {
    font-size: 25px;
    margin-top: 20px;
  }

  .txt-img .img img {
    height: 120px;
    margin-top: 20px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    /* .price-info h1 {
    font-size: 20px;
  } */

  .content-info p {
    font-size: 14px;
  }
}


@media (max-width: 600px) {
  .subject-row {
    flex-direction: column;
  }

  .add-btn,
  .check-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .link {
    font-size: 0.95em;
    padding: 10px;
  }

  .links {
    flex-direction: column;
    /* align-items: center; */
  }


}