*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(208, 242, 244);
}
.txt-img{
    display: flex;
     align-items: center;
    justify-content: space-around;
}
img{
    height: 15vh;
   margin-top: 40px;
   /* width: 30vh; */
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.8s ease-in-out;

}
img:hover {
    transform: scale(1.2) rotate(360deg);

}
.txt  h1 {
    /* font-size: 45px; */
background:linear-gradient(90deg ,#0585e1 , #e8467f , #6B3F69);
background-size: 300%  300%;
color: transparent;
-webkit-background-clip:text ;
animation: colorMove 3s infinite alternate;
}
@keyframes colorMove{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position:100% 50%;
    }
}
.main-container{
    width: 90%;
    max-width: 900px;
    /* height: 750px; */
    border: 3px solid black;
    margin: 40;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}
.box{
  background: white;
  border: 2px solid #222;
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.3s;
}
.box:hover {
  transform: scale(1.05);
}
.box:nth-child(1){
    grid-column: span 3;
}
.box:nth-child(2),
.box:nth-child(3){
    grid-column: span 2;
}

.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6){
    grid-column: span 1;
}